@model Ex1.Models.Disciplina

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        ID = @Model.id <br />
        Disciplina = @Model.nome <br />
        Descrição = @Model.descricao <br />
    </div>
</body>
</html>
